.App {
 position: relative;
 background: #eeeeee;
 width: 100%;
 margin: 0 auto;
 z-index: 0;
 text-align: center; 
}
/*
.App-header {
  background-color:#1C2126;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}*/
/*LOGO STAR WARS*/
.logoStarWars{
  width: 20%;
}
@media (max-width: 768px){
  .logoStarWars{
    width: 70%;
  }
}